.main {
  position: relative;
  &__tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 24px;
    gap: 644px;
    width: 930px;
    height: 24px;

    &__press {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      color: $gray200;
      width: 216px;
      height: 22px;

      .select {
        color: $black;
      }

      &-all {
        width: 75px;
        height: 19px;
        @include title-md;
        cursor: pointer;
      }

      &-subscribed {
        width: 120px;
        height: 22px;
        @include body-md;
        cursor: pointer;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      width: 56px;
      height: 24px;
      img {
        cursor: pointer;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 153.95px);
    grid-template-rows: repeat(4, 96.25px);
    grid-gap: 1px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      box-sizing: border-box;
      outline: 1px solid $black;

      img {
        width: 52px;
      }
    }
  }

  &__buttons {
    width: 930px;

    &-prev,
    &-next {
      background: none;
      border: none;
      position: absolute;
      top: 50%;
      cursor: pointer;
    }

    &-prev {
      left: -83px;
    }

    &-next {
      right: -83px;
    }
  }
}

