@import '../../base/color', '../../base/font', '../../base/mixin';

.press {
  &__grid {
    display: none;
    gap: 47px;

    &--activated {
      display: flex;
    }

    .grid__wrapper {
      width: 930px;
      height: 388px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      .grid__items {
        height: 96px;
        background-color: $color-white;
        border: 1px solid $color-gray-100;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 65px;
          height: 20px;
        }
      }
    }

    .grid__left,
    .grid__right {
      position: absolute;
      cursor: pointer;
    }

    .grid__left {
      transform: translateY(174px);
    }

    .grid__right {
      transform: translate(1048px, 174px);
    }

    .hide {
      display: none;
    }
  }
}
