@import '../../base/color', '../../base/font', '../../base/mixin';

.press {
  &__header {
    display: flex;
    width: 930px;
    height: 24px;
    justify-content: space-between;
    margin: 0 0 24px 71px;

    .view {
      display: flex;
      align-items: center;
      gap: 24px;

      span {
        display: block;
        cursor: pointer;
      }

      &__all,
      &__subs {
        font: $body-md;
        color: $color-gray-200;
      }

      .focus {
        font: $title-md;
        color: $color-black;
      }
    }

    .mode {
      display: flex;
      gap: 14px;

      img {
        cursor: pointer;
      }
    }
  }
}
