@import '../../base/color', '../../base/font', '../../base/mixin';

.press {
  &__grid {
    display: flex;
    gap: 47px;

    .grid__wrapper {
      width: 930px;
      height: 388px;
      margin: 0 auto;
      border-top: 1px solid $color-gray-100;
      border-left: 1px solid $color-gray-100;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      .grid__items {
        height: 96px;
        background-color: $color-white;
        border-right: 1px solid $color-gray-100;
        border-bottom: 1px solid $color-gray-100;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 65px;
          height: 20px;
        }
      }
    }

    .prev__grid,
    .next__grid {
      position: absolute;
      cursor: pointer;
    }

    .prev__grid {
      transform: translateY(174px);
    }

    .next__grid {
      transform: translate(1048px, 174px);
    }

    .hide {
      display: none;
    }
  }
}
