@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');

$display: 700 24px Pretendard;
$title-md: 700 16px Pretendard;
$title-sm: 700 14px Pretendard;
$title-xs: 700 12px Pretendard;
$body-md: 500 16px/2.2 Pretendard;
$body-sm: 500 14px Pretendard;
$body-xs: 500 12px Pretendard;
