$WHITE70: #ffffff70;
$WHITE: #ffffff;
$OFF_WHITE: #f5f7f9;
$GRAY100: #d2dae0;
$GRAY200: #879298;
$GRAY300: #6e8091;
$GRAY400: #5f6e76;
$GRAY500: #4b5966;
$BLACK: #14212b;
$PRIMARY: #4362d0;

$DISPLAY: 2.4rem 700 1;
$TITLE_MD: 1.6rem 700 1;
$TITLE_SM: 1.4rem 700 1;
$TITLE_XS: 1.2rem 700 1;
$BODY_MD: 1.6rem 500 2.2rem;
$BODY_SM: 1.4rem 500 1;
$BODY_XS: 1.2rem 500 1;
