$white-70: rgba(255, 255, 255, 0.7);
$white: #FFFFFF;
$off-white: #F5F7F9;
$gray-100: #D2DAE0;
$gray-200: #879298;
$gray-300: #6E8091;
$gray-400: #5F6E76;
$gray-500: #4B5966;
$black: #14212B;
$primary: #4362D0;


@mixin white-70{
  background: $white-70;
}

@mixin white {
  background: $white;
}

@mixin off-white {
  background: $off-white;
}

@mixin gray-100 {
  background: $gray-100;
}

@mixin gray-200 {
  background: $gray-200;
}

@mixin gray-300 {
  background: $gray-300;
}

@mixin gray-400 {
  background: $gray-400;
}

@mixin gray-500 {
  background: $gray-500;
}

@mixin black {
  background: $black;
}

@mixin primary {
  background: $primary;
}