@use "color.scss" as *;
@use "font.scss" as *;

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 930px;
  height: 29px;
  margin-top: 58px;

  &__logo {
    display: flex;
    align-items: center;

    width: 136px;
    padding: 0px;
    gap: 8px;

    @include Display;

    cursor: pointer;
  }

  &__news-date {
    display: flex;
    position: absolute;
    right: 0;
    color: $gray500;
    @include BodyMD;
  }
}
