@use "color.scss";
@use "font.scss";

.total-media {
  position: relative;
  &__tab-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 644px;
    width: 930px;
    height: 24px;
  }

  .press-tab {
    display: flex;
    align-items: center;

    gap: 24px;

    width: 216px;
    height: 22px;
    &__total {
      @include font.TitleMD;
    }
    &__my-subs {
      @include font.BodyMD;
      color: color.$gray200;
    }
  }

  .view-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 24px;
    gap: 8px;

    &__list {
      color: color.$gray100;
    }
    &__grid {
      color: color.$primary;
    }
  }
}

.grid {
  position: relative;

  &-overlay {
    position: absolute;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    background-color: color.$off-white;
    padding: 10px;
    // border: 1px solid color.$gray100;
    z-index: 10;
    width: 100%;
    height: 100%;

    display: none;

    &__button {
      @include font.BodyXS;
      color: color.$gray200;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 74px;
      height: 24px;
      background-color: color.$white;
      margin: 0 auto;

      gap: 2px;
      border: 1px solid color.$gray100;
      border-radius: 50px;
    }

    .text {
      width: 42px;
      height: 14px;
    }

    .plus-shape {
      // background-color: black;
      width: 12px;
      height: 12px;
      background-image: url("/public/images/plus-button.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.progress {
  background-color: #7890e7;
  position: relative;
  display: flex;
  @include font.TitleSM;
  color: color.$white;
  padding: 11.5px 16px;
  width: 166px;
  height: 40px;
  overflow: hidden;

  .content-wrapper {
    display: flex;
    position: relative;
    gap: 8px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .press-number {
      display: flex;
      @include font.TitleXS;
      color: color.$white70;
      .current {
        color: color.$white;
      }
    }
  }

}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: color.$primary;
  animation: fillProgress 20s linear forwards;
}

.article {
  display: flex;
  @include font.BodySM;
  color: color.$gray300;
  padding: 11.5px 16px;
  cursor: pointer;

  .text:hover {
    border-bottom: 1px solid color.$gray300;
    // cursor: pointer;
  }
}

.press {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 882px;
    height: 24px;

    &__image {
      width: 52.5px;
      height: 20px;
    }

    &__edit-date {
      @include font.BodyXS;
      color: color.$gray400;

      height: 14px;
    }
  }
  &-subs-button {
    @include font.BodyXS;
    color: color.$gray200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 24px;
    background-color: color.$white;
    // margin: 0 auto;

    gap: 2px;
    border: 1px solid color.$gray100;
    border-radius: 50px;
    cursor: pointer;
    // .text {
    //   width: 42px;
    //   height: 14px;
    // }

    .plus-shape {
      // background-color: black;
      width: 12px;
      height: 12px;
      background-image: url("/public/images/plus-button.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.news {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 882px;
  height: 260px;
  &-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 320px;
    height: 260px;

    .thumbnail {
      width: 320px;
      height: 200px;
    }
    &__headline {
      @include font.BodyMD;
      color: color.$black;
    }
  }

  &-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 530px;
    height: 245px;

    @include font.BodyMD;
    color: color.$gray500;

    .title {
      width: 530px;
      height: 22px;
      overflow: hidden;
    }

    &__caption {
      @include font.BodySM;
      color: color.$gray200;
    }
  }
}

.list-view {
  display: none;
  flex-direction: column;
  margin-top: 24px;
  border: 1px solid color.$gray100;
  width: 930px;
  height: 388px;

  &__field-tab {
    display: flex;
    width: 930px;
    height: 40px;
    background-color: color.$off-white;
    border: 1px solid color.$gray100;
  }

  &__press-news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 930px;
    height: 348px;

    /* gray100 */

    border: 1px solid color.$gray100;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 24px;
  border: 1px solid color.$gray100;
  width: 930px;
  height: 388px;

  .grid-item {
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: color.$white;
    padding: 10px;
    border: 1px solid color.$gray100;
  }

  img {
    height: 20px;
  }
}

.prev-button {
  display: flex;
  position: absolute;
  left: -71px;
  bottom: 172.5px;
  cursor: pointer;
}
.next-button {
  display: flex;
  position: absolute;
  left: 978px;
  bottom: 172.5px;
  cursor: pointer;
}
