@use "color.scss";
@use "font.scss";
@use "animation.scss";

.total-media {
  position: relative;
  &__tab-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 644px;
    width: 930px;
    height: 24px;
  }

  .press-tab {
    display: flex;
    align-items: center;

    gap: 24px;

    width: 216px;
    height: 22px;

    &__total {
      @include font.TitleMD;
      cursor: pointer;
    }
    &__my-subs {
      @include font.BodyMD;
      color: color.$gray200;
      cursor: pointer;
    }
  }

  .view-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 24px;
    gap: 8px;

    &__list {
      color: color.$gray100;
      cursor: pointer;
    }
    &__grid {
      color: color.$primary;
      cursor: pointer;
    }
  }
}

.grid {
  position: relative;

  &-overlay {
    position: absolute;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    background-color: color.$off-white;
    padding: 10px;
    // border: 1px solid color.$gray100;
    z-index: 10;
    width: 100%;
    height: 100%;

    display: none;

    &__button {
      @include font.BodyXS;
      color: color.$gray200;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 74px;
      height: 24px;
      background-color: color.$white;
      margin: 0 auto;

      gap: 2px;
      border: 1px solid color.$gray100;
      border-radius: 50px;

      cursor: pointer;
    }

    .text {
      width: 42px;
      height: 14px;
    }

    .plus-shape {
      // background-color: black;
      width: 12px;
      height: 12px;
      background-image: url("/public/images/plus-button.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.progress {
  background-color: #7890e7;
  position: relative;
  display: flex;
  flex-shrink: 0;
  @include font.TitleSM;
  color: color.$white;
  padding: 11.5px 16px;
  width: 166px;
  height: 100%;
  overflow: hidden;

  .content-wrapper {
    display: flex;
    position: relative;
    gap: 8px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .press-number {
      display: flex;
      @include font.TitleXS;
      color: color.$white70;
      .current {
        color: color.$white;
      }
    }
  }
  // .text {
  //   position: relative;
  // }
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: color.$primary;
  animation: fillProgress 20s linear forwards;
}

.article {
  display: flex;
  flex-shrink: 0;
  @include font.BodySM;
  color: color.$gray300;
  padding: 11.5px 16px;
  cursor: pointer;
  height: 100%;
  .text:hover {
    border-bottom: 1px solid color.$gray300;
    // cursor: pointer;
  }
}

.press {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 882px;
    height: 24px;

    &__image {
      width: 52.5px;
      height: 20px;
    }

    &__edit-date {
      @include font.BodyXS;
      color: color.$gray400;

      height: 14px;
    }
  }
  &-subs-button {
    @include font.BodyXS;
    color: color.$gray200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 24px;
    background-color: color.$white;
    // margin: 0 auto;

    gap: 2px;
    border: 1px solid color.$gray100;
    border-radius: 50px;
    cursor: pointer;
    // .text {
    //   width: 42px;
    //   height: 14px;
    // }

    .plus-shape {
      // background-color: black;
      width: 12px;
      height: 12px;
      background-image: url("/public/images/plus-button.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.news {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 882px;
  height: 260px;
  &-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 320px;
    height: 260px;

    .thumbnail {
      width: 320px;
      height: 200px;
    }
    .thumbnail:hover {
      transform: scale(1.05);
    }
    &__headline {
      @include font.BodyMD;
      color: color.$black;
    }
  }

  &-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 530px;
    height: 245px;

    @include font.BodyMD;
    color: color.$gray500;

    .title {
      width: 530px;
      height: 22px;
      overflow: hidden;
    }
    .title:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &__caption {
      @include font.BodySM;
      color: color.$gray200;
    }
  }
}

.list-view {
  display: none;
  flex-direction: column;
  margin-top: 24px;
  border: 1px solid color.$gray100;
  width: 930px;
  height: 388px;

  &__field-tab {
    display: flex;
    width: 930px;
    height: 40px;
    background-color: color.$off-white;
    border: 1px solid color.$gray100;
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__press-news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 930px;
    height: 348px;

    /* gray100 */

    border: 1px solid color.$gray100;
  }

  .press-arrow {
    display: flex;
    align-items: center;
    width: 9px;
    height: 9px;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 24px;
  border: 1px solid color.$gray100;
  width: 930px;
  height: 388px;

  .grid-item {
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: color.$white;
    padding: 10px;
    border: 1px solid color.$gray100;
  }

  img {
    height: 20px;
  }
}

.prev-button {
  display: flex;
  position: absolute;
  left: -71px;
  bottom: 172.5px;
  cursor: pointer;
}
.next-button {
  display: flex;
  position: absolute;
  left: 978px;
  bottom: 172.5px;
  cursor: pointer;
}

.snack {
  display: none;
  padding: 16px 24px;
  position: absolute;
  width: 286px;
  height: 54px;
  left: 322px;
  top: 235px;

  color: color.$white;
  background: color.$primary;
  /* snackbar */
  box-shadow: 0px 4px 2px rgba(20, 33, 43, 0.02), 0px 2px 18px rgba(20, 33, 43, 0.08);

  @include font.BodyMD;
  opacity: 0;
  animation: fadeIn 0.25s ease-in forwards;
}

.unsubs-alert {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 320px;
  height: 140px;
  left: 322px;
  top: 235px;

  filter: drop-shadow(0px 4px 2px rgba(20, 33, 43, 0.02)) drop-shadow(0px 2px 18px rgba(20, 33, 43, 0.08));
  z-index: 3;
  .text-wrapper {
    display: flex;
    padding: 24px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 92px;

    background: color.$white;

    span {
      color: color.$black;
      @include font.TitleMD;
    }
    border: 1px solid color.$gray100;
    .text {
      text-align: center;
      @include font.BodyMD;
      color: color.$gray400;
    }
  }

  .buttons {
    display: flex;
    width: 320px;
    height: 48px;

    background: color.$off-white;

    border: 0.5px solid color.$gray100;

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;

    .button {
      display: flex;
      flex-direction: row;
      width: 160px;
      height: 48px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 10px;
      border: 0.5px solid color.$gray100;
    }
    .button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
