.rolling_news {
  box-sizing: border-box;
  padding: 16px;
  width: 461px;
  height: 49px;
  background: var(--off-white);
  border: 1px solid var(--gray-100);
}

.news_display {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.roller {
  width: 100%;
  height: 100%;
}

.news_wrapper {
  display: flex;
  gap: 16px;
  height: 100%;
}

.roll_up {
  transition: transform 1s ease;
  transform: translateY(-100%);
}
