@use '../abstracts' as *;

.header--main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tab-btn {
    display: flex;
    gap: 1.5rem;

    &__item {
      cursor: pointer;
      color: $color-gray-200;

      &.active {
        color: $color-black;
      }
    }
  }

  .view-btn {
    display: flex;
    gap: 0.5rem;

    &__icon {
      filter: invert(90%) sepia(8%) saturate(203%) hue-rotate(163deg) brightness(96%) contrast(94%);

      &.active {
        filter: invert(50%) sepia(50%) saturate(6004%) hue-rotate(214deg) brightness(83%) contrast(96%);
      }
    }
  }
}

.content-area {
  width: 930px;
  height: 388px;
  margin-top: 25px;
  border: 1px solid $color-gray-100;
}
