@use '../abstracts' as *;

@keyframes rolling {
  0% {
    transform: none;
  }

  100% {
    transform: translateY(-100%);
  }
}

.auto-rolling__area {
  display: flex;
  gap: 0.5rem;

  .news-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    background-color: $color-off-white;
    border: 1px solid $color-gray-100;

    &__name {
      color: $color-black;
    }

    &__title-box {
      position: relative;
      cursor: pointer;
      flex-grow: 1;
      color: $color-gray-500;
      overflow: hidden;

      .title {
        position: absolute;

        // transition: transform 0.5s;

        &.roll {
          animation: rolling 0.5s;
          animation-fill-mode: forwards;
        }

        &:hover {
          text-decoration: underline;
        }

        // &.show {
        //   transform: translateY(-1rem);
        // }

        // &.after {
        //   transform: translateY(-1rem);
        // }
      }
    }
  }
}
