@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"); /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
  list-style-type: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 930px;
  height: 29px;
  margin-top: 58px;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 136px;
  padding: 0px;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  cursor: pointer;
}
.header__news-date {
  display: flex;
  position: absolute;
  right: 0;
  color: #4b5966;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@keyframes moveVertically {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-37px);
  }
}
@keyframes fillProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.roller {
  display: flex;
  gap: 8px;
  margin-top: 40px;
  width: 930px;
  height: 49px;
}
.roller__bar {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 461px;
  height: 49px;
  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
}
.roller .press-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
}
.roller .news__bar {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #4b5966;
  height: 17px;
  overflow: hidden;
  cursor: pointer;
}
.roller .news__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-duration: 0.5s;
}
.roller .news__container > div {
  width: 363px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.total-media {
  position: relative;
}
.total-media__tab-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 644px;
  width: 930px;
  height: 24px;
}
.total-media .press-tab {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 216px;
  height: 22px;
}
.total-media .press-tab__total {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  cursor: pointer;
}
.total-media .press-tab__my-subs {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #879298;
  cursor: pointer;
}
.total-media .view-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 24px;
  gap: 8px;
}
.total-media .view-tab__list {
  color: #d2dae0;
  cursor: pointer;
}
.total-media .view-tab__grid {
  color: #4362d0;
  cursor: pointer;
}

.grid {
  position: relative;
}
.grid-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7f9;
  padding: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.grid-overlay__button {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  color: #879298;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 24px;
  background-color: #ffffff;
  margin: 0 auto;
  gap: 2px;
  border: 1px solid #d2dae0;
  border-radius: 50px;
  cursor: pointer;
}
.grid-overlay .text {
  width: 42px;
  height: 14px;
}
.grid-overlay .plus-shape {
  width: 12px;
  height: 12px;
  background-image: url("/public/images/plus-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.progress {
  background-color: #7890e7;
  position: relative;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
  color: #ffffff;
  padding: 11.5px 16px;
  width: 166px;
  height: 100%;
  overflow: hidden;
  scroll-snap-align: start;
}
.progress .content-wrapper {
  display: flex;
  position: relative;
  gap: 8px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.progress .content-wrapper .press-number {
  display: flex;
  font-size: 12px;
  font-weight: Bold;
  line-height: Auto;
  color: rgba(255, 255, 255, 0.7);
}
.progress .content-wrapper .press-number .current {
  color: #ffffff;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #4362d0;
  animation: fillProgress 20s linear forwards;
}

.article {
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #6e8091;
  padding: 11.5px 16px;
  cursor: pointer;
  height: 100%;
  scroll-snap-align: start;
}
.article .text:hover {
  border-bottom: 1px solid #6e8091;
}

.press {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}
.press-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 882px;
  height: 24px;
}
.press-info__image {
  width: 52.5px;
  height: 20px;
}
.press-info__edit-date {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  color: #5f6e76;
  height: 14px;
}
.press-subs-button {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  color: #879298;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 24px;
  background-color: #ffffff;
  gap: 2px;
  border: 1px solid #d2dae0;
  border-radius: 50px;
  cursor: pointer;
}
.press-subs-button .plus-shape {
  width: 12px;
  height: 12px;
  background-image: url("/public/images/plus-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.news {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 882px;
  height: 260px;
}
.news-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 320px;
  height: 260px;
}
.news-main .thumbnail {
  width: 320px;
  height: 200px;
}
.news-main .thumbnail:hover {
  transform: scale(1.05);
}
.news-main__headline {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #14212b;
}
.news-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 530px;
  height: 245px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #4b5966;
}
.news-sub .title {
  width: 530px;
  height: 22px;
  overflow: hidden;
}
.news-sub .title:hover {
  cursor: pointer;
  text-decoration: underline;
}
.news-sub__caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #879298;
}

.list-view {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: 1px solid #d2dae0;
  width: 930px;
  height: 388px;
}
.list-view__field-tab {
  display: flex;
  width: 930px;
  height: 40px;
  background-color: #f5f7f9;
  border: 1px solid #d2dae0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}
.list-view__field-tab::-webkit-scrollbar {
  display: none;
}
.list-view__field-tab .active {
  cursor: grabbing;
  background-color: rgba(0, 0, 0, 0.1);
}
.list-view__press-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  width: 930px;
  height: 348px;
  /* gray100 */
  border: 1px solid #d2dae0;
}
.list-view .press-arrow {
  display: flex;
  align-items: center;
  width: 9px;
  height: 9px;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 24px;
  border: 1px solid #d2dae0;
  width: 930px;
  height: 388px;
}
.grid-view .grid-item {
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #d2dae0;
}
.grid-view img {
  height: 20px;
}

.prev-button {
  display: flex;
  position: absolute;
  left: -71px;
  bottom: 172.5px;
  cursor: pointer;
}

.next-button {
  display: flex;
  position: absolute;
  left: 978px;
  bottom: 172.5px;
  cursor: pointer;
}

.snack {
  display: none;
  padding: 16px 24px;
  position: absolute;
  width: 286px;
  height: 54px;
  left: 322px;
  top: 235px;
  color: #ffffff;
  background: #4362d0;
  /* snackbar */
  box-shadow: 0px 4px 2px rgba(20, 33, 43, 0.02), 0px 2px 18px rgba(20, 33, 43, 0.08);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  opacity: 0;
  animation: fadeIn 0.25s ease-in forwards;
}

.unsubs-alert {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 320px;
  height: 140px;
  left: 322px;
  top: 235px;
  filter: drop-shadow(0px 4px 2px rgba(20, 33, 43, 0.02)) drop-shadow(0px 2px 18px rgba(20, 33, 43, 0.08));
  z-index: 3;
}
.unsubs-alert .text-wrapper {
  display: flex;
  padding: 24px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 92px;
  background: #ffffff;
  border: 1px solid #d2dae0;
}
.unsubs-alert .text-wrapper span {
  color: #14212b;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
}
.unsubs-alert .text-wrapper .text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #5f6e76;
}
.unsubs-alert .buttons {
  display: flex;
  width: 320px;
  height: 48px;
  background: #f5f7f9;
  border: 0.5px solid #d2dae0;
  cursor: pointer;
}
.unsubs-alert .buttons .button {
  display: flex;
  flex-direction: row;
  width: 160px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 0.5px solid #d2dae0;
}
.unsubs-alert .buttons .button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=index.css.map */