.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
}

.logo > img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(61%) saturate(1532%) hue-rotate(207deg) brightness(96%) contrast(87%);
}

.logo > h1 {
  margin: 0;
}
