@use "@style/reset.scss";
@use "@components/header/header.scss";
@use "@components/rollingNewsBar/rollingNewsBar.scss";
@use "@components/mainView/tabAndViewer.scss";
@use "@components/mainView/mainView.scss";
@use "@components/mainView/gridView/gridView.scss";

#app {
  width: 930px;
  height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
