@use 'base/reset';
@use 'base/typography';

@use 'layout/header';
@use 'layout/newsbar';
@use 'layout/main';

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#wrap {
  display: flex;
  flex-direction: column;
  // 절대단위는 이후에 조정 필요
  gap: 40px;
}
