:host {
  width: 930px;
  display: block;
}

top-header {
  margin-bottom: 40px;
}

.headlines-container {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  gap: 8px;

  recent-headline {
    flex-grow: 1;
  }
}
